/* 달력 전체 컨테이너 */
.react-calendar {
    border: 0px;
    .react-calendar__navigation {
        display: block;
        text-align: center;
        height: auto;
    }
}

/* 날짜 선택 컨테이너 */
.react-calendar__viewContainer {
    .react-calendar__tile {
        border-radius: 5px;
        transition:
            background-color 0.2s ease,
            color 0.2s ease,
            transform 0.1s ease;
    }
    .react-calendar__month-view__weekdays {
        font-size: 13px;
        font-weight: 500;
        color: #1a1f1e;
        font-family: "Pretendard-Medium";
    }
    .react-calendar__month-view__days {
        font-size: 13px;
        font-weight: 400;
        color: #1a1f1e;
        font-family: "Pretendard-Light";
    }
    .react-calendar__tile--active,
    .react-calendar__tile--active:enabled,
    .react-calendar__tile--active:enabled:hover,
    .react-calendar__tile--active:enabled:focus {
        color: #ffffff !important;
    }
    /* 토요일(주말) 색상 기본색으로 덮어쓰기 */
    .react-calendar__month-view__days__day:nth-child(7n) {
        color: #1a1f1e;
    }
    /* 이웃달은 주말이어도 회색 유지 */
    .react-calendar__month-view__days__day--neighboringMonth,
    .react-calendar__month-view__days__day--neighboringMonth.react-calendar__month-view__days__day--weekend {
        color: #d9d9d9;
    }
    /* disabled 날짜는 요일 상관없이 무조건 회색 */
    .react-calendar__tile:disabled,
    .react-calendar__tile--weekend:disabled {
        color: #d9d9d9 !important;
        cursor: not-allowed;
    }
    .react-calendar__tile:disabled {
        background: transparent !important;
    }
    .react-calendar__tile {
        padding-left: 13px;
        padding-right: 13px;
        padding-bottom: 6px;
        padding-top: 6px;
        scale: 0.9;
    }
    .react-calendar__tile:hover {
        border-radius: 5px;
    }
    .react-calendar__tile--now {
        background-color: white;
    }
    .react-calendar__tile--now:enabled:hover {
        background-color: #d9d9d9;
    }
    .react-calendar__tile--active {
        background-color: #1c4f46;
        border-radius: 5px;
        transform: scale(1.05);
    }
    .react-calendar__tile:enabled:active {
        transform: scale(0.95);
    }
    .react-calendar__tile--active:hover {
        background-color: #1c4f46;
        border-radius: 5px;
    }
    .react-calendar__tile--active:enabled:focus {
        background-color: #1c4f46;
        border-radius: 5px;
    }
}

/* 상단 네비게이션 바 */
.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__arrow:enabled:hover,
.react-calendar__navigation__arrow:disabled:active {
    background-color: #0f2f2e !important;
    opacity: 0.75;
}
.react-calendar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.react-calendar {
    .react-calendar__navigation {
        display: flex;
        height: 20px;
        aspect-ratio: 1/1;
        margin: auto;
        gap: 10px;
    }
    .react-calendar__navigation__arrow {
        aspect-ratio: 1/1;
        border-radius: 100px;
        background-color: #0f2f2e;
        color: white;
        min-width: 20px;
        padding-bottom: 2px;
    }
    .react-calendar__navigation__prev-button {
        padding-right: 1px;
    }
    .react-calendar__navigation__next-button {
        padding-left: 1px;
    }
}
.react-calendar__navigation__prev2-button {
    display: none;
}
.react-calendar__navigation__next2-button {
    display: none;
}

.react-calendar__navigation__label {
    pointer-events: none;
    cursor: default;
}

abbr {
    text-decoration: none;
}
