@import "tailwindcss";

@font-face {
    font-family: "Pretendard-Light";
    src: url("./assets/fonts/Pretendard-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("./assets/fonts/Pretendard-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
    font-display: swap;
}

@theme {
    /* 색상 테마 */
    --color-primary: #0f2f2e;
    --color-secondary: #1c4f46;
    --color-accent: #ff0000;
    --color-background-100: #ffffff;
    --color-background-200: #d9d9d9;
    --color-background-300: #737373;
    --color-main: #1a1f1e;
    --color-stroke: #f5f5f5;

    /* 폰트 */
    --font-pretendard-light: "Pretendard-Light", "sans-serif";
    --font-pretendard-regular: "Pretendard-Regular", "sans-serif";
    --font-pretendard-medium: "Pretendard-Medium", "sans-serif";
    --font-pretendard-semiBold: "Pretendard-SemiBold", "sans-serif";
    --font-pretendard-bold: "Pretendard-Bold", "sans-serif";
}

@theme {
    --animate-fade-in-out: fade-in-out 0.1s ease-in-out both;

    @keyframes fade-in-out {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@layer base {
    /* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Body */
    body {
        @apply text-base font-pretendard-semiBold text-main bg-background-100;
    }

    /* Title */
    h1 {
        @apply text-[48px] font-pretendard-bold font-bold text-primary;
    }
    h2 {
        @apply text-[32px] font-pretendard-bold font-bold;
    }
    h3 {
        @apply text-base font-pretendard-medium font-medium text-primary;
    }
    h4 {
        @apply text-[11px] font-pretendard-medium font-medium;
    }

    /* Body(T2 기준(본문 텍스트)) */
    p {
        @apply text-base font-pretendard-semiBold font-semibold;
    }
}

@layer utilities {
    /* Body 텍스트 */
    .body-t1 {
        @apply text-base font-pretendard-bold font-bold;
    }
    .body-t2 {
        @apply text-base font-pretendard-semiBold font-semibold text-main;
    }
    .body-t3 {
        @apply text-[13px] font-pretendard-medium font-medium text-main;
    }
    .body-t4 {
        @apply text-[13px] font-pretendard-regular font-normal text-main;
    }
    .body-t5 {
        @apply text-[10px] font-pretendard-semiBold font-semibold;
    }
    .body-t6 {
        @apply text-[10px] font-pretendard-medium font-medium text-main;
    }
    .body-t7 {
        @apply text-[10px] font-pretendard-regular font-normal;
    }

    /* Button 텍스트 */
    .btn-main {
        @apply text-base font-pretendard-semiBold font-semibold;
    }
    .btn-sub {
        @apply text-[13px] font-pretendard-semiBold font-semibold text-main;
    }
    .btn-sub2 {
        @apply text-[10px] font-pretendard-light font-light text-main;
    }
}

@layer components {
    /* layout */
    .v-stack {
        @apply flex flex-col;
    }
}
