/*
 * 홈페이지 전체의 기반 스타일을 정의하는 global.css 파일입니다.
 *
 * Inyro 홈페이지는 tailwind v4.2를 사용합니다.
 *
 * global.css에서는 테마와 베이스, 유틸리티를 정의합니다.
 * - 테마에서는 색상들과 폰트, 애니메이션을 정의합니다.
 * - 베이스에서는 테마 리셋과 전체 스타일, h1 ~ h4, p(본문) 스타일을 정의합니다.
 * - 유틸리티에서는 figma에서 설정된 body-t1 ~ body-t7 그리고 btn의 스타일 조합을 정의합니다.
 */

/* import 순서는 폰트 -> tailwind class 순서로 해야 컴파일에서 안꼬임 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

/* 테마 설정 */
@theme {
    /* 색상 테마 */
    --color-primary: #0f2f2e;
    --color-secondary: #1c4f46;
    --color-accent: #ff0000;
    --color-background-100: #ffffff;
    --color-background-200: #d9d9d9;
    --color-background-300: #737373;
    --color-main: #1a1f1e;
    --color-stroke: #f5f5f5;

    /* 폰트 */
    --font-sans: "Pretendard", ui-sans-serif, system-ui, sans-serif;

    /* 애니메이션 */
    --animate-fade-in-out: fade-in-out 0.1s ease-in-out both;

    @keyframes fade-in-out {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

/* 베이스 스타일 설정 */
@layer base {
    /* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Body */
    body {
        @apply font-sans font-semibold text-main bg-background-100;
    }

    /* Title */
    h1 {
        @apply text-[48px] font-bold text-primary;
    }
    h2 {
        @apply text-[32px] font-bold;
    }
    h3 {
        @apply text-base font-medium text-primary;
    }
    h4 {
        @apply text-[11px] font-medium;
    }

    /* 본문 텍스트 */
    p {
        @apply text-base font-semibold;
    }
}

/* 유틸리티 */
@layer utilities {
    /* Body 텍스트 */
    .body-t1 {
        @apply text-base font-bold;
    }
    .body-t2 {
        @apply text-base font-semibold text-main;
    }
    .body-t3 {
        @apply text-[13px] font-medium text-main;
    }
    .body-t4 {
        @apply text-[13px] font-normal text-main;
    }
    .body-t5 {
        @apply text-[10px] font-semibold;
    }
    .body-t6 {
        @apply text-[10px] font-medium text-main;
    }
    .body-t7 {
        @apply text-[10px] font-normal;
    }

    /* Button 텍스트 */
    .btn-main {
        @apply text-base font-semibold;
    }
    .btn-sub {
        @apply text-[13px] font-semibold text-main;
    }
    .btn-sub2 {
        @apply text-[10px] font-light text-main;
    }
}

/* 레이아웃 */
@layer components {
    /* layout */
    .v-stack {
        @apply flex flex-col;
    }
}
