@import "tailwindcss";

@font-face {
    font-family: "Pretendard-Light";
    src: url("./assets/fonts/Pretendard-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Regular";
    src: url("./assets/fonts/Pretendard-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Medium";
    src: url("./assets/fonts/Pretendard-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("./assets/fonts/Pretendard-SemiBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Pretendard-Bold";
    src: url("./assets/fonts/Pretendard-Bold.woff") format("woff");
    font-display: swap;
}

@theme {
    /* 색상 테마 */
    --color-primary: #0f2f2e;
    --color-secondary: #1c4f46;
    --color-accent: #ff0000;
    --color-background-100: #ffffff;
    --color-background-200: #d9d9d9;
    --color-background-300: #737373;
    --color-text: #3c3c3c;
    --color-stroke: #f5f5f5;

    /* 폰트 */
    --font-pretendard-light: "Pretendard-Light", "sans-serif";
    --font-pretendard-regular: "Pretendard-Regular", "sans-serif";
    --font-pretendard-medium: "Pretendard-Medium", "sans-serif";
    --font-pretendard-semiBold: "Pretendard-SemiBold", "sans-serif";
    --font-pretendard-bold: "Pretendard-Bold", "sans-serif";
}

@layer base {
    /* RESET */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    /* Body */
    body {
        @apply text-base font-pretendard-semiBold text-text bg-background-100;
    }

    /* Main */
    main {
        @apply flex min-h-screen max-w-sm mx-auto items-center justify-center;
    }

    /* Title */
    h1 {
        @apply text-[48px] font-pretendard-bold;
    }
    h2 {
        @apply text-[32px] font-pretendard-bold;
    }
    h3 {
        @apply text-base font-pretendard-medium;
    }
    h4 {
        @apply text-[11px] font-pretendard-medium;
    }

    /* Body(T2 기준(본문 텍스트)) */
    p {
        @apply text-base font-pretendard-semiBold;
    }
}

@layer utilities {
    /* Body 텍스트 */
    .body-t1 {
        @apply text-base font-pretendard-bold;
    }
    .body-t2 {
        @apply text-base font-pretendard-semiBold;
    }
    .body-t3 {
        @apply text-[13px] font-pretendard-medium;
    }
    .body-t4 {
        @apply text-[13px] font-pretendard-regular;
    }
    .body-t5 {
        @apply text-[10px] font-pretendard-semiBold;
    }
    .body-t6 {
        @apply text-[10px] font-pretendard-medium;
    }
    .body-t7 {
        @apply text-[10px] font-pretendard-regular;
    }

    /* Button 텍스트 */
    .btn-main {
        @apply text-base font-pretendard-semiBold;
    }
    .btn-sub {
        @apply text-[13px] font-pretendard-semiBold;
    }
    .btn-sub2 {
        @apply text-[10px] font-pretendard-light;
    }
}
